altgraph==0.17.4
certifi==2024.8.30
charset-normalizer==3.4.0
docopt==0.6.2
idna==3.10
packaging==24.2
pefile==2023.2.7
pillow==11.0.0
pipreqs==0.4.13
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
pystray==0.19.5
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==75.6.0
six==1.17.0
urllib3==2.2.3
yarg==0.1.10
